<!DOCTYPE html>
<html lang="en">

<head>
    <% include header.ejs %>
    <link rel="stylesheet" type="text/css" href="/bower_components/slick.js/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/bower_components/slick.js/slick/slick-theme.css"/>
    <!--<link rel="stylesheet" type="text/css" href="/bower_components/swiper/dist/css/swiper.min.css"/>-->
</head>

<body>

<div id="wrapper">
    <% include navigation.ejs%>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Home</h1>
                <div id="user_id" class="hidden"></div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="swiper-container">
                    <div class="swiper-wrapper">


                        <% for(var i=0; i<movies.length; i++) {%>
                        <div class="">
                            <div class="video">
                                <img src="<%= movies[i].images[0].url %>">
                                <a class="play" href="/movie/<%= movies[i].id %>"><i class="fa fa-play-circle-o fa-5x"></i></a>
                            </div>
                            <div><%= movies[i].title %></div>
                        </div>
                        <%}%>

                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<%include footer.ejs%>
<!-- DataTables JavaScript -->
<script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="/bower_components/slick.js/slick/slick.min.js"></script>
<!--<script type="text/javascript" src="/bower_components/swiper/dist/js/swiper.js"></script>-->

<script src="dist/js/index.js"></script>
</body>

</html>
