<!DOCTYPE html>
<html lang="en">

<head>

<%include header.ejs%>

</head>

<body>


<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <%if(error){%>
                    <div class="alert alert-danger" role="alert">
                        <a class="close" onclick="$('.alert').hide()">×</a>
                        <%=error%>
                    </div>
                    <%}%>
                    <form id="login-form" role="form" method="POST" action="/login">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <!--<div class="checkbox" >-->
                                <!--<label>-->
                                    <!--<input name="remember" type="checkbox" value="Remember Me">Remember Me-->
                                <!--</label>-->
                            <!--</div>-->
                            <div >
                                <label>
                                    <a href="/signup">Sign up</a>
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <div class="form-group">
                                <input class="btn btn-lg btn-success btn-block" name="submit" type="submit" value="Login">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%include footer.ejs%>
<script src="/dist/js/login.js"></script>

</body>

</html>
