<!DOCTYPE html>
<html lang="en">

<head>
    <% include header.ejs %>
    <link rel="stylesheet" type="text/css" href="/bower_components/video.js/dist/video-js.min.css"/>
</head>

<body>

<div id="wrapper">
    <% include navigation.ejs%>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%= movie.title%></h1><br>
                <div> Release Date : <%=movie.publishedDate%></div>
                <div> Category :
                    <% for(var i=0; i<movie.categories.length; i++) {%>
                        <%if(i == movie.categories.length-1){%>
                            <%=movie.categories[i].title%>
                        <%}else{%>
                            <%=movie.categories[i].title%>,
                        <%}%>
                    <%}%>
                </div>
                <div>
                    <%=movie.parentalRatings[0].scheme%> : <%=movie.parentalRatings[0].rating%>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center">
                    <video id="really-cool-video" class="video-js vjs-default-skin" controls
                           preload="auto" width="<%=movie.contents[0].width%>" height="<%=movie.images[0].height%>" poster="<%=movie.images[0].url%>"
                           data-setup='{}'>
                        <source src="<%= movie.contents[0].url%>" type='video/mp4'>
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser
                            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Storyline</h3> <br>
                <%=movie.description%>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>Credits</h3> <br>
                <% for(var i=0; i<movie.credits.length; i++) {%>
                    <h5><%=movie.credits[i].name%></h5>
                <%}%>
            </div>
        </div>



    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<%include footer.ejs%>
<script type="text/javascript" src="/bower_components/video.js/dist/video.min.js"></script>
<script type="text/javascript" src="/dist/js/movie.js"></script>
</body>

</html>
