<!DOCTYPE html>
<html lang="en">

<%include header.ejs%>

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign up</h3>
                </div>
                <div class="panel-body">
                    <%if(error){%>
                    <div class="alert alert-danger" role="alert">
                        <a class="close" onclick="$('.alert').hide()">×</a>
                        <%=error%>
                    </div>
                    <%}%>
                    <form id="signup-form" role="form" method="POST" action="/signup">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="First Name" name="first_name" type="text" >
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Last Name" name="last_name" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email">
                            </div>
                            <div class="form-group">
                                <input id="password" class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Confirm Password" name="password_confirmation" type="password" value="">
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a href="/login" class="btn btn-lg btn-block">Cancel</a>
                            <div class="form-group">
                                <input class="btn btn-lg btn-success btn-block" name="submit" type="submit" value="Sign up">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%include footer.ejs %>
<script src="/dist/js/login.js"></script>
</body>

</html>
